{% extends 'html/base.html' %}

{% block title %}
    <title>mis信息</title>
{% endblock %}

{% block content %}
    <body>
    <form method="post">
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">零部件名称</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId1" name="parts">
                    {% for foo in queryset1 %}
                        <option value="{{ foo.name_of_parts }}">{{ foo.name_of_parts }}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="col-sm-1 col-form-label">平台</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId2" name="platform">
                    <option value=""></option>
                    <option value="6DL6">6DL6</option>
                    <option value="6DM2">6DM2</option>
                    <option value="6DM2|6DM3">6DM2|6DM3</option>
                    <option value="6DM3">6DM3</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label">车型</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId3" name="type">
                    <option value=""></option>
                    <option value="J6">J6</option>
                    <option value="J7">J7</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label">排放</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId4" name="let">
                    <option value=""></option>
                    <option value="E5">E5</option>
                    <option value="E6">E6</option>
                    <option value="E5|E6">E5|E6</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label">用途</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId5" name="purpose">
                    <option value=""></option>
                    <option value="牵引|载货">牵引|载货</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">查询</button>
    </form>
    </body>
{% endblock %}

{% block js %}

{% endblock %}