{% extends 'html/base.html' %}
{% load static %}

{% block title %}
    <title>mis信息</title>
{% endblock %}

{% block content %}
    <body>
    <form method="post">
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">零部件名称</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId1" name="parts">
                    <option style="color: blueviolet" value="{{ parts }}">{{ parts }}</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label">平台</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId2" name="platform">
                    <option style="color: blueviolet" value="{{ platform }}">{{ platform }}</option>
                    <option value="6DL6">6DL6</option>
                    <option value="6DM2">6DM2</option>
                    <option value="6DM2|6DM3">6DM2|6DM3</option>
                    <option value="6DM3">6DM3</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label">车型</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId3" name="type">
                    <option style="color: blueviolet" value="{{ type }}">{{ type }}</option>
                    <option value="J6">J6</option>
                    <option value="J7">J7</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label">排放</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId4" name="let">
                    <option style="color: blueviolet" value="{{ let }}">{{ let }}</option>
                    <option value="E5">E5</option>
                    <option value="E6">E6</option>
                    <option value="E5|E6">E5|E6</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label">用途</label>
            <div class="col-sm-1">
                <select class="form-control select2" id="userId5" name="purpose">
                    <option style="color: blueviolet" value="{{ purpose }}">{{ purpose }}</option>
                    <option value="牵引|载货">牵引|载货</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">查询</button>
    </form>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">{{ title }}</div>
            <div class="panel-body">
                <div id="m1" style="width: auto;height:400px;"></div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block js %}
    <script type="text/javascript">

        $(function () {
            initLine();
        })

        /**
         * 初始化折线图
         */
        function initLine() {

            var chartDom = document.getElementById('m1');
            var myChart = echarts.init(chartDom);
            var option;
            option = {
                title: {
                    text: {{ title }}
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: {{ legend }}
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: {{ x_axis }}
                },
                yAxis: {
                    type: 'value'
                },
                series: {{ series_list }}
            };
        }
    </script>
    <script src="{% static 'js/echarts.js' %}"></script>
{% endblock %}